[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype
[submodule "lua"]
	path = deps/lua
	url = https://github.com/lua/lua
